
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family:'IBM Plex Serif', sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  padding-left: 64px;
  position: relative;
  overflow: hidden;
}

.logo {
  display: flex;
  width: 154px;
  height: 31px;
}

.logo_place_header {
  position: absolute;
  z-index: 1;
  top: 30px;
}

.header__title {
  display: flex;
  height: 96px;
  width: 730px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25vh;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle-link {
  width: 388px;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}

.header__subtitle {
  display: flex;
  line-height: 25px;
  font-size: 18px;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
}

.header__main-ilustrator {
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 0px;
  object-fit: contain;
  height: 608px;
  width: 756px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  margin-top: 64px;
  right: 0px;
  transform: rotate(-15deg);
}

.description {
  display: flex;
  padding: 64px;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 100px 0px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-right: 20%;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 30px;
  font-size: 24px;
  font-weight: normal;

}
.two-columns__span-accent {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.techniques {
  display: flex;
  min-height: 600px;
  margin: 100px 0px;
  flex-direction: column;
}

.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.section__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.section__subtitle {
  margin-top: 20px;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.cards {
  width: 920px;
  margin: auto;
}

.cards__item {
  margin: 0 100px 60px 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 500px;
}

.cards__image {
  border-radius: 100%;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
}

.cards__title {
  line-height: 1.15;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 16px 0 0 0;
}

.cards__row {
  display: flex;
  flex-direction: row;
  margin:0;
}

.video {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__subtitle_video {
  margin-bottom: 50px;
}

.video__iframe {
  padding: 0 10px;
}

.oakley {
  background-color: #f2f2f2;
  padding-top: 160px;
}

.feynman {
  display: flex;
  background-color: #f2f2f2;
  padding: 100px 36px;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 100px 0px 0px 0px;
  position: relative;
}
.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
}

.feynman__title {
  margin-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  height: fit-content;
  position: relative;
  left: 40%;
}

.feynman__subtitle {
  line-height: 25;
  width: 770px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
}

.feynman__link {
  line-height: 51;
  font-size: 18px;
  font-weight: normal;
}

.digits { 
  padding: 100px 36px;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 100px 0px;
} 
 
.section { 
  display: flex; 
  width: 100%; 
  flex-direction: column; 
  align-items: center; 
} 
 
.section__title { 
  line-height: 69px; 
  font-size: 60px; 
  font-weight: bold; 
  margin: 0; 
} 
 
.section__subtitle { 
  margin-top: 20px; 
  margin-bottom: 60px; 
  line-height: 34px; 
  font-size: 24px; 
  font-weight: normal; 
} 

.table { 
  display: flex; 
  flex-flow: row wrap; 
  justify-content: center; 
  margin: 0; 
} 
 
.table__cell { 
  width: 250px; 
  margin: 0 10px; 
} 
 
.table__heading { 
  line-height: 1.15; 
  font-size: 24px; 
  font-weight: bold; 
} 
 
.table__text { 
  line-height: 1.2; 
  font-size: 18px; 
  font-weight: normal;
} 
 
.table__top { 
  display: flex; 
  flex-direction: row; 
  margin: 60px auto; 
}

.table__bottom {
  display: flex; 
  flex-direction: row; 
  margin-bottom: 100px; 
} 
 
.table__text-2 { 
  margin-top: 20px; 
} 

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.25;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.book__container {
  height: 608px;
  width: 620px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
 
.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}

.kaufman {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 90px 36px;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  overflow: hidden;
}

.section_theme_dark {
  margin: 0px;
  z-index: 1;
}

.section__title_theme_dark {
  color: white;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.section__subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 20px 0px 80px 0px;
}

.table__theme_dark {
display: flex;
width: 1100px;
margin: 0;
z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  list-style: none;
}

.table__cell-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table__cell-paragraph {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
}

.resources {
  margin: 100px auto 217px;
}

.resources__logo-zone {
  width: 1100px;
  margin: auto;
}

.resources__logo{
  width: 270px;
  height: 38px;
  margin-top: 80px;
}

.footer {
  min-height: 350px;
  background-color: #000000;
  margin: 0px;
}

.footer__columns{
  width: 90%;
  min-height: 350px;
  display: flex;
  padding: 90px 36px;
  margin: 0px;
  flex-direction: row;
}

.footer__column_content_copyright {
display: flex;
flex-basis: 711px;
flex-direction: column;
width: 60%;
justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__column-author {
  color: #ffffff;
  font-size: 18px;
}

.footer__column_content_about {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 20%;
}

.footer__column-heading {
  color: #ffffff;
  margin: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  list-style: none;
  padding: 20px 0px;
  margin: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
  padding: 0;
  list-style: none;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.footer__social-icons {
  margin-right: 5px;
}